.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial, sans-serif', serif;
    color: #FDFAD9;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #FCFAEE;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #CDC1FF;
}

.experience-list, .education-list {
    list-style: none;
    padding: 0;
}

.experience-item, .education-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.experience-item.hovered, .education-item.hovered {
    transform: scale(1.05);
    border-color: #333;
}